body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.responsive {
  max-width: 15%;
  height: auto;
  display:block;
  margin:0px auto;
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box;
}
header nav ul li a{
  position: relative;
    text-decoration: none;
    font-weight: 300;
    padding: 0 50px;
}
header nav ul li{
  float:none;
  display: -webkit-inline-flex;
  display: inline-flex;
}

header nav ul{
  text-align: center;
}

ul li a{
  font-size: 25px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
}

.btn {
  width: 50%;
  max-width: 175px;
  margin-bottom: 10px;
}

iframe{
  width:100%;
}

.map{
  width:100%;
}

.brand-logo{
  left: 10px;
}

.transparent-back{
  background-color: transparent;
  min-width:100px;
  min-height:100px;
}

.collection{
  width:120%;
  position: fixed;
  bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
}
.center-align.aboutme{
  font-size: 20px;
}
.aboutme{
  font-size: 16px;
  height: 100%;
}
.container{
  max-width: 1000px;
}

.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 50px;
}

.side-nav li a {
    font-size: 1.3em;
}

.side-nav li {
    float: none;
    padding: 0 15px;
}

#sidenav-overlay{
  opacity:0 !important;
}

#sidebar-nav {;
    margin-left:10px;
    position: absolute;
    top: 10px;
    width: 44px;
    height: 44px;
    z-index: 700;
    border: 0;
    font-size: 28px;
}


@media (max-width: 992px){
  #sidebar-nav {
      display:block!important;
      color: #fff!important;
  }
  .responsive {
    max-width: 55%;
  }
  .side-nav {
    width: 30em;
  }
  .side-nav li a {
    font-size: 3.4em;
  }
  .side-nav li {
    padding: 55px 15px;
  }
  h1 {
    font-size: 8.4rem;
  }
  h2 {
    font-size: 7.12rem;
  }
  h3 {
    font-size: 5.84rem;
  }
  h4 {
    font-size: 4.56rem;
  }
  h5 {
    font-size: 3.28rem;
  }
  h6 {
    font-size: 2rem;
  }

  .card .card-title {
  font-size: 4.56rem;
}
.card .card-reveal {
    font-size: 3.28rem;
}
.card .card-content p {
    font-size: 2rem;
}
.collection .collection-item {
    padding: 30px 20px;
}
.card .card-content {
    padding: 40px 20px;
}
  #additionalInfo{
    margin-top: 25px;
  }
  .side-nav li a:hover {
   background-color: #f2f1ed;
 }
 .side-nav li:hover {
  background-color: #f2f1ed;
}
}
