/* Weather API Task
	Written by Joseph Distler
	Custom styles on top of bootstrap 
*/

.bigLogo{
	font-size:125px;
}

.titleText{
	font-family: 'Lobster', cursive;
}

#warningNote{
	margin-top:20px;
	display: none;
}